	@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

html{
    /* This image will be displayed fullscreen */
    background: url(../assets/MLR_background2.jpg) no-repeat center center;
	background-attachment:fixed;
    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size:cover;
}


body {
	   /* Workaround for some mobile browsers */
    min-height:100%;
	text-align: center;
	display: block;
	}


#container { width: 1024px;
			height: 1150px;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left:-512px;
			}

#homecontainer { width: 1024px;
			height: 970px;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left:-512px;
			}

#header { width: 960px;
			height: 160px;
			position:absolute;
			left: 32px;
			padding-bottom: 5px;
			top: 0;
	
	}

#homemain {
		width: 1024px;
		height: 800px;
		left: 0px;
		top: 175px;
		position:absolute;
			background-image:url(../assets/main_wrapper.png);
			background-repeat:no-repeat;
}

#banner {
	position: absolute;
	width: 1024px;
	height: 400px;
	left: 0px;
	top: 0px;
}
	
#main_area {
		width: 1024px;
		height: 1024px;
		left: 0px;
		top: 175px;
		position:absolute;
			background-image:url(../assets/main_wrapper.png);
			background-repeat:no-repeat;
			background-attachment: scroll;
}

.pricelist {
	list-style-type:disc;
	text-align: left;
	}



#contact {
	top: 75px;
	width:800px;
	height: 730px;
	left:0px;
	position: absolute;
	background-image:url(../assets/contactform_bg.png);
	background-repeat:no-repeat;
	
}

#nestedform {
	top: 150px;
	width: 290px;
	height: 350px;
	left:431px;
	position: absolute;
}

form div {
	padding: 0.5em 0 0 0;
	clear: both;
	margin-top: 1em;
	padding: 1em;
}




label {
	margin-top: 10px;
	width: 50px;
	color: #008B83;
}


.left { text-align:left;}

fieldset label {

	width: 150px;
}


input.text {
	margin-top: 10px;
	background-color: #FFF;
	
}

p.radio {
	text-align: left;
	float: left;
}


textarea {
background-color:#FFF;
resize:none;
	}
	
.button {
	margin-top: 10px;
	font-family: "Lucida Bright", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffe499;
	background-image:url(../assets/formbutton.png);
	background-repeat: no-repeat;
	width: 110px;
	height:25px;
}
	

#uppercontent {
	width: 800px;
	height: 800px;
	left: 112px;
	top: 25px;
	position:absolute;
}


#topper {
		width: 790px;
		height: 60px;
		left: 0px;
		top: 0px;
		position:absolute;
		padding-left: 10px;
}

#topper p img {
		
		text-align:left;
}



#aboutus {
		width: 390px;
		height: 380px;
		left: 0px;
		top: 75px;
		position:absolute;
	
}

#whyrenderings {
		width: 390px;
		height: 380px;
		left: 0px;
		top: 425px;
		position:absolute;
	

}

#information {

		width: 800px;
		height: 600px;
		left: 0px;
		top: 90px;
		position:absolute;
		
}

#nestedinformation {

		width: 200px;
		height: 600px;
		left: 0px;
		top: 150px;
		position:absolute;
		
}

#tagline {
		width: 230px;
		height 230px;
		left: 750px;
		top: 165px;
		position: absolute;
	
	}


#company {
		width: 1024px;
		height: 60px;
		left: 0px;
		top: 400px;
		padding-top: 10px;
		position:absolute;
		background-color: #008B83;

}


#left_bottom {
	width: 300px;
	height: 260px;
	left: 40px;
	position:absolute;
	top: 480px;
	padding-top: 8px;
	}
	
	
#middle_bottom {
	width: 300px;
	height: 260px;
	position:absolute;
	top: 480px;
	left: 365px;
	}	

#middle_bottom ul li {	list-style-type: none;	}	

#right_bottom { 
		width: 300px;
		height: 260px;
		position:absolute;
		top: 480px;
		left: 705px;
		padding-top: 8px;
	}	

#right_bottom ul li {	list-style-type: none;	}
		
			
#footer {
		width: 960px;
		height: 50px;
		left: 10px;
		top: 1100px;
		position:absolute;
		padding: 0 10px 0 10px;
	
	}
	
			
#homefooter {
		width: 960px;
		height: 30px;
		left: 10px;
		top: 940px;
		position:absolute;
		padding: 0 10px 0 10px;
	
	}
	
	
/* Home page Slider */
	
.slider {
  margin: 0;
  width: 1024px; /* Update to your slider width */
  height: 400px; /* Update to your slider height */
  position: absolute;
  overflow: hidden;
}

.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

ul{
	list-type: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

